fastapi==0.115.12
uvicorn==0.34.3
python-multipart==0.0.20
httpx==0.28.1
pytest==8.4.0

python-dotenv==1.1.1
reportlab==4.4.1
SQLAlchemy==2.0.43
alembic==1.16.5
psycopg[binary]==3.2.10
stripe==15.6.1
twilio==9.11.1
